/* Variables */
:root {
  --primary: #f34e4e;
  --primary-hover: #b53535;
  --black: #2b2b2b;
  --dark-grey: #333;
  --grey: #404040;
  --light-grey: #575757;
  --text: #eaeaea;
  --input-text-bg: #dddddd;
  --border-radius: 5px;
  --padding: 10px;
  --box-shadow: 0px 3px 8px 2px rgba(21, 21, 21, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 24px;
  letter-spacing: 1px;
}
h4 {
  font-size: 16px;
  font-weight: 400;
}
p {
  font-size: 14px;
}

html,
body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
}

/* Login Form */
.login-container {
  background: var(--black);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container.hide {
  display: none;
}

.login-container img {
  width: 100%;
  margin-bottom: 30px;
}

.login-container form {
  background: var(--grey);
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding: 30px;
  box-shadow: var(--box-shadow);
}

.login-container input {
  padding: 10px;
  border: none;
  font-size: 18px;
  margin-bottom: 15px;
  width: 100%;
}

.login-container button {
  width: 100%;
  padding: 10px;
  border: none;
  background: var(--primary);
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login-container button:hover {
  background: var(--primary-hover);
}

/* Chat Interface */

.chat-container {
  display: grid;
  height: 100%;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 80px minmax(150px, 1fr) 80px;
  grid-template-areas:
    'sidebar   header'
    'sidebar   main '
    'sidebar   footer';
}

.chat-container.hide {
  display: none;
}

/* Header */
header {
  grid-area: header;
  background: var(--dark-grey);
  border-bottom: 2px solid rgb(35, 35, 35);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  position: relative;
}

header img {
  height: 80%;
}

#sidebar-toggle {
  width: 60px;
  height: 45px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background: transparent;
  border: none;
  transform: scale(0.5);
  display: none;
}

#sidebar-toggle span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: var(--primary);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#sidebar-toggle span:nth-child(1) {
  top: 0px;
}

#sidebar-toggle span:nth-child(2),
#sidebar-toggle span:nth-child(3) {
  top: 18px;
}

#sidebar-toggle span:nth-child(4) {
  top: 36px;
}

#sidebar-toggle.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#sidebar-toggle.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#sidebar-toggle.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#sidebar-toggle.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#user-header-avatar {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#user-header-avatar #user-header-username {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

#user-header-username h4 {
  margin-right: 5px;
  font-size: 18px;
}

#user-header-avatar .avatar {
  background: purple;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  position: relative;
}

#user-header-avatar .carret {
  font-size: 8px;
  display: block;
}

#user-header-avatar .dropdown-content {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#user-header-avatar:hover .dropdown-content {
  display: block;
}

#user-header-avatar:hover .dropdown-content .dropdown-item {
  color: white;
  background: var(--grey);
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#user-header-avatar:hover .dropdown-content .dropdown-item:hover {
  background: var(--light-grey);
}

/* Main Chat Area */
main {
  grid-area: main;
  background: var(--grey);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

main .message {
  max-width: 400px;
  width: fit-content;
  color: white;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
}

main .message-info {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
  transform: skewX(-12deg);
}

main .message-info .message-date {
  font-size: 12px;
  align-self: flex-end;
  margin: 0 10px;
}

main .message-text {
  background: var(--light-grey);
  width: fit-content;
  margin-top: 5px;
  padding: 8px 10px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

main .message.me {
  max-width: 400px;
  color: white;
  align-self: flex-end;
  padding: var(--padding);
}

main .message.me .message-info {
  align-self: flex-end;
}

main .message.me .message-text {
  align-self: flex-end;
  background: var(--primary);
  border: 1px solid var(--primary);
}

/* Sidebar */
.sidebar {
  grid-area: sidebar;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: left 0.3s ease-in-out;
}

/* Users online */
nav {
  height: 80px;
  background: var(--black);
  border-bottom: 2px solid rgb(35, 35, 35);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav img {
  display: none;
}

aside h4.section-title {
  color: white;
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}

/* User's list aside */
aside {
  background: var(--black);
  flex-grow: 1;
  overflow-y: auto;
}

.users-online {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.users-online .user {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
}

.users-online .user .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

/* Footer */
footer {
  grid-area: footer;
  background: var(--dark-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
}

footer form {
  width: 100%;
  display: flex;
}

footer form input {
  padding: 10px 20px;
  background: var(--input-text-bg);
  border: none;
  flex-grow: 1;
  border-radius: var(--border-radius);
}

footer form button {
  border-radius: 5px;
  color: white;
  background: var(--primary);
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-left: 10px;
  transition: background 0.2s ease-in-out;
}

footer form button:hover {
  background: var(--primary-hover);
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 600px) {
  .chat-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 80px minmax(150px, 1fr) 80px;
    position: relative;
    grid-template-areas:
      'header'
      'main '
      'footer';
  }

  nav img {
    height: 60%;
    display: block;
  }

  #sidebar-toggle {
    display: block;
    position: absolute;
    right: 0;
  }

  .sidebar {
    position: absolute;
    width: 280px;
    left: -100%;
    z-index: 1;
  }
}
